!!! 5
%html{:lang => "en"}

  %head
    %meta{:charset => "utf-8"}
    %title Write-Only Mode
    %meta{:name => 'description', :content => ''}
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body

    %nav.topbar
      .fill
        .container
          %h3
            %a{:href => '/'} Write-Only Mode
          %ul.nav.secondary-nav
            - if @current_user
              %li= link_to "@#{@current_user.name}", "http://twitter.com/#{@current_user.name}"
              %li= link_to 'Logout', logout_path
            - else
              %li= link_to 'Login with Twitter', '/auth/twitter'

    %article#content.container
      = yield

    %footer.container
      &copy; 2011
      %a{:href => 'http://stevenwilkin.com'} Steven Wilkin
      &bull;
      %a{:href => 'http://twitter.com/stevebiscuit'} Twitter
